@media(max-width:480px){
.header{
width:100%;
background-color:white;
position:absolute;
left:0;
}


.div0{
width:100%;
height:8%;
}

.div0 img{
height:80%;
position:absolute;
left:200px;
top:5px;
}


.div1{
display:none;
}

.div2{
transform:scale(1);
}


.div2 .ul0{
text-align:left;
float:left;
width:100%;
height:700%;
background-color:black;
transform:translateX(-110%)
translateY(0%);
transition:0.5s;
list-style:none;
position:relative;
z-index:200;
}

.checkbox0:checked~.ul0{
transform:translateX(0%);
transform:translateY(0%);
}

.div2 .li0{
margin-left:0;
margin-bottom:20%:;
list-style:none;
width:90%;
font-size:20px;
font-weight:900;
background-color:black;
transition:0.5s;
color:white;
}


.p0{
font-size:8px;
font-weight:900;
float:left;
background-color:white;
margin-left:1.8%;
position:relative;
}



input[type=checkbox]{
transform:scale(10);
position:relative;
opacity:0;
left:-100;
top:0;
}


.nav-toggle{
position:absolute;
transform:scale(0.7);
top:-20;
left:37;
}


body{
padding:0;
margin:0;
}




.section0{
background-color:#FF3333;
margin-top:0px;
height:100%;
width:100%;
}

.picture1{
height:30%;
width:50%;
position:absolute;
top:340;
left:130;
}

.ul4 li{
font-size:20px;
font-weight:900;
margin-top:40px;
}

.ul4 .time0{
width:80%;
margin-left:0px;
margin-top:0;
}


.ul4 .li4 span{
font-size:30px;
}

.section1{
width:100%;
height:100%;
background-size:cover;
}

.div2 .ul0{
text-align:left;
float:left;
width:140%;
height:1400%;
background-color:black;
transform:translateX(-110%)
translateY(0%);
transition:0.5s;
list-style:none;
position:relative;
z-index:200;
}


.sec:nth-child(odd) .picture5{
position:absolute;
left:0;
}

.sec:nth-child(odd) .work5{
position:absolute;
text-align:left;
left:0;
top:40;
width:70%;
font-size:15px;
}


.sec:nth-child(odd) .jo5{
position:absolute;
left:0;
top:200;
}

.sec:nth-child(even) .picture5{
position:absolute;
left:200;
top:10;
}


.modern2,
iframe{
display:none
background-color:red;
border-radius:40px;
padding-left:0%;
}

.div3{
width:100%;
height:100%;
background-color:lightpink;
}


.img2{
width:70%;
height:50%;
position:absolute;
top:30;
left:70;
z-index:1;
}

.ppp5{
padding-top:-300px;
font-size:18;
font-weight:900;
}

.kpo{
position:absolute;
top:76;
left:-5;
font-size:27px;
}


}



@media(max-width:390px){
.picture1{
height:80%;
width:70%;
position:absolute;
top:300;
left:54;
}

.p0{
margin-left:13px;
}

.ul4 .lii4{
font-size:18px;
margin-top:30px;
}

.ul4 .li4{
margin-right:30px;
}

span{
font-size:12px;
}


input[type=checkbox]{
transform:scale(10);
position:relative;
opacity:0;
left:-100;
top:0;
}

.header{
position:relative;
}


.header img{
height:100%;
position:absolute;
top:4px;
left:120;
}

.ul4{
position:relative;
}

.ul4 .time0{
position:absolute;
top:80px;
left:35px;
height:30px;
width:70%
}


.ul4 .kpo{
position:absolute;
top:-30;
left:-5;
font-size:27px;
}

.ul4 .li4{
margin-right:50px;
}


.sec:nth-child(odd) .picture5{
padding-left:80px;
height:50%;
width:60%;
}

.sec:nth-child(odd) .work5{
position:absolute;
text-align:left;
left:-20;
top:220;
width:80%;
font-size:15px;
}


.sec:nth-child(odd) .jo5{
position:absolute;
left:-20;
top:300;
}

.sec:nth-child(even) .picture5{
height:50%;
width:50%;
position:absolute;
top:10;
left:90;
}

.sec:nth-child(even) .work5{
position:absolute;
text-align:left;
left:-20;
top:220;
width:80%;
font-size:15px;
}


.sec:nth-child(even) .jo5{
position:absolute;
left:-20;
top:300;
}


.ppp5{
margin-top:137px;
margin-left:0px;
width:100%;
}

.ppp3{
margin-top:300px;
margin-left:0px;
width:100%;
}

body{
padding:0;
margin:0;
}

.footer{
background-color:red;
}

.img2{
margin-left:-20px;

}

.checkbox0:checked~.ul0{
transform:translateX(0%);
transform:translateY(1%);
}

}