@media(max-width:480px){
.header{
width:100%;
background-color:white;
position:absolute;
left:0;
}


.div0{
width:100%;
height:47px;
}

.div0 img{
height:80%;
position:absolute;
background-repeat:no-repeat;
left:200px;
top:5px;
}


.div1{
display:none;
}

.div2{
transform:scale(1);
}


.div2 .ul0{
text-align:left;
float:left;
width:100%;
height:700%;
background-color:black;
transform:translateX(-110%)
translateY(0%);
transition:0.5s;
list-style:none;
position:relative;
z-index:200;
}

.checkbox0:checked~.ul0{
transform:translateX(0%);
transform:translateY(0%);
}

.div2 .li0{
margin-left:0;
margin-bottom:20%:;
list-style:none;
width:90%;
font-size:20px;
font-weight:900;
background-color:black;
transition:0.5s;
color:white;
}


.p0{
font-size:8px;
font-weight:900;
float:left;
background-color:white;
margin-left:1.8%;
position:relative;
}



input[type=checkbox]{
transform:scale(10);
position:relative;
opacity:0;
left:-100;
top:0;
}


.nav-toggle{
position:absolute;
transform:scale(0.7);
top:-20;
left:37;
}


body{
padding:0;
margin:0;
}




.section0{
background-color:#FF3333;
margin-top:0px;
height:100%;
width:100%;
}

.picture1{
background-repeat:no-repeat;
height:30%;
width:50%;
position:absolute;
top:340;
left:130;
}

.ul4 li{
font-size:20px;
font-weight:900;
margin-top:40px;
}

.ul4 .time0{
width:80%;
margin-left:0px;
margin-top:0;
}


.ul4 .li4 span{
font-size:30px;
}

.section1{
width:100%;
height:100%;
background-size:cover;
}

.div2 .ul0{
text-align:left;
float:left;
width:140%;
height:1400%;
background-color:black;
transform:translateX(-110%)
translateY(0%);
transition:0.5s;
list-style:none;
position:relative;
z-index:200;
}


.sec:nth-child(odd) .picture5{
background-repeat:no-repeat;
position:absolute;
left:0;
}

.sec:nth-child(odd) .work5{
position:absolute;
text-align:left;
left:0;
top:40;
width:70%;
font-size:15px;
}


.sec:nth-child(odd) .jo5{
position:absolute;
left:0;
top:200;
}

.sec:nth-child(even) .picture5{
background-repeat:no-repeat;
position:absolute;
left:200;
top:10;
}


.modern2,
iframe{
display:none
background-color:red;
border-radius:40px;
padding-left:0%;
}

.div3{
width:100%;
height:100%;
box-sizing:border-box;
background-color:lightpink;
}


.img2{
width:70%;
height:50%;
position:absolute;
top:30;
left:70;
z-index:1;
}

.ppp5{
padding-top:-300px;
font-size:18;
font-weight:900;
}

.kpo{
position:absolute;
top:76;
left:-5;
font-size:27px;
}


}



@media(max-width:420px){
.picture1{
background-repeat:no-repeat;
height:80%;
width:70%;
position:absolute;
top:300;
left:54;
}

.p0{
margin-left:11px;
}

.ul4 .lii4{
font-size:18px;
margin-top:30px;
}

.ul4 .li4{
margin-right:30px;
}

span{
font-size:12px;
}


input[type=checkbox]{
transform:scale(10);
position:relative;
opacity:0;
left:-100;
top:0;
}

.header{
position:relative;
}


.header img{
width:auto;
height:100%;
position:absolute;
top:3;
right:40;

}

.bachatame{
height:auto;
width:7%;
background-repeat:no-repeat;
background-color:transparent;
position:absolute;
top:295;
left:20;
}



.ul4{
position:relative;
}

.ul4 .time0{
position:absolute;
top:40px;
left:35px;
height:30px;
width:70%
}


.ul4 .kpo{
position:absolute;
top:-30;
left:-5;
font-size:27px;
}

.ul4 .li4{
margin-right:50px;
}


.sec:nth-child(odd) .picture5{
background-repeat:no-repeat;
padding-left:80px;
height:45%;
width:55%;
}

.sec:nth-child(odd) .work5{
position:absolute;
text-align:left;
left:-20;
top:260;
width:80%;
font-size:15px;

}


.sec:nth-child(odd) .jo5{
position:absolute;
left:-20;
top:340;
}

.sec:nth-child(even) .picture5{
background-repeat:no-repeat;
height:47%;
width:47%;
position:absolute;
top:10;
left:130;
}

.sec:nth-child(even) .work5{
position:absolute;
text-align:left;
left:-20;
top:270;
width:80%;
font-size:15px;
}


.sec:nth-child(even) .jo5{
position:absolute;
left:-20;
top:323;
}


.ppp5{
margin-top:10%;
margin-left:0px;
width:100%;
}

.ppp3{
margin-top:50%;
margin-left:0px;
width:100%;
}



.img2{
margin-left:0px;
margin-top:0px;
height:280px;
width:280px;
object-fit:cover;
}








.div5{
width:100%;
height:210%;
}

.div3{
background-color:white;
width:100%;
height:95%;
border-bottom:2px solid black;
box-sizing:border-box;
box-shadow:3px 3px rgba(0,0,0,0.357)
margin-top:0;
float:left;
padding-top:0px;
padding-left:50px;
padding-right:50px;
display:block;
position:relative;
}



.name p{
color:white;
background-color:red;
margin-top:30px;
padding:5 25 5 25px;
margin-right:80px;
border-radius:40px;

}


.icon2 ul{
list-style:none;
padding-right:20px;
display:flex;
padding-top:20px;
}

.icon2 ul li{
padding:0 15 0 15px;
transform:scale(2);

}



.ppp5{
margin-top:137px;
margin-left:310px;
width:400px;
width:800px;
font-size:25px;
}


.ppp3{
margin-top:80px;
margin-left:0px;
width:300px;
font-size:15px;
}



.div4{
font-size:43px;
padding-top:360px;
font-weight:900;
}


.ul2 .li2{
color:white;
background-color:yellow;
}


.footer{
background-color:black;
color:white;
font-weight:900;
text-align:center;
height:50px;
margin-top:0px;
}

.footer .ppp{
padding-top:15px;
}







.checkbox0:checked~.ul0{
transform:translateX(0%);
transform:translateY(1%);
}



.section2.sec {
  height: auto;
  margin-top: 40px;
  margin-bottom: 64px;
}

.sec:nth-child(even) .picture5,
.sec:nth-child(odd) .picture5 {
  height:  auto;
  width: 80%;
  margin: 10px auto;
  position: unset;
  display: block;
  padding-left: 0;
}

.sec:nth-child(even) .work5,
.sec:nth-child(odd) .work5,
.sec:nth-child(odd) .jo5 {
  position: unset;
  padding-top: 0;
}


.section1{
height: auto;
height:100%;
background-image:url('../images/TDS-Salsa-Parties-Banner.jpg');
background-size:cover;
position:unset;
}







.section0 {
  background-color:#FF3333;
  margin-top:0;
  height: auto;
  width:100%;
  padding-bottom: 20px;
}

.section0 .ul4 {
  margin-bottom: 0;
}

.picture1{
  background-repeat:no-repeat;
  height:auto;
  width:70%;
  position: unset;
}

.section1{
  background-image:url('../images/TDS-Salsa-Parties-Banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position:unset;
  margin-top:0;
  height: auto;
  min-height: 220px;
  padding-bottom: 380px;
  position:relative:
}


.section1 p{
color:#FF3333;
font-weight:900;
font-size:40px;
position:absolute;
width:70%;
top:250;
right:60;
}

.ul4 .li4{
margin-top:40px;
}



.nav-toggle{
position:absolute;
transform:scale(1);
top:-20;
left:40;
}









.rate{
margin-top:50px;
position: relative;
top:60;
left:70;
display:inline-block;
transform:scale(1.4);
}
.rate:before{
content: "★★★★★";
color: #ccc;
}

.rate0-5:after,
.rate1:before,
.rate1:after,
.rate1-5:before,
.rate1-5:after,
.rate2:before,
.rate2:after,
.rate2-5:before,
.rate2-5:after,
.rate3:before,
.rate3:after,
.rate3-5:before,
.rate3-5:after,
.rate4:before,
.rate4:after,
.rate4-5:before,
.rate4-5:after,
.rate5:after{
position: absolute;
top:0;
left:0;
color: #FFA500;
overflow: hidden;
height: 24px;
}

.rate .rate0-5:after,
.rate .rate1-5:after,
.rate .rate2-5:after,
.rate .rate3-5:after,
.rate .rate4-5:after{
	width: 8px;
	content: "★";
}

.rate .rate1:after,
.rate .rate1-5:before{
	content: "★";
}
.rate .rate1-5:after{
	left: 1em;
}
.rate .rate2:after,
.rate .rate2-5:before{
	content: "★★";
}
.rate .rate2-5:after{
	left: 2em;
}
.rate .rate3:after,
.rate .rate3-5:before{
	content: "★★★";
}
.rate .rate3-5:after{
	left: 3em;
}
.rate .rate4:after,
.rate .rate4-5:before{
	content: "★★★★";
}
.rate .rate4-5:after{
	left: 4em;
}
.rate .rate5:after{
	content: "★★★★★";
}






}