

.header{
margin-top:0px;
width:100%;
height:0%;
background-color:black;
position:absolute;
left:0;
z-index:1000;
}

.div0{
background-color:white;
width:100%;
height:13%;
position:fixed;
top:0;
text-align:center;
z-index:1000;
}

.div2{
margin-top:-5px;
float:left;
width:60%;
height:80%;
background-color:white;
}

.p0{
font-size:13px;
font-weight:900;
float:left;
background-color:white;
margin-left:5%;
}


body {
  padding:0;
  margin:0;

}


section{
overflow:hidden;
}


.nav-toggle{
background-color:transparent;
border:1px solid transparent;
transform:scale(1.4);
float:left;
margin-top:40;
margin-left:-44;
}


input[type=checkbox]{
transform:scale(8);
position:absolute;
top:40px;
left:50px;
background-color:transparent;
opacity:0;
}




.nav-toggle [class*='bar-'] {
  background:#E8AD1A;
  display: block;
  border-radius: 8px;
  height: 4px;
  width: 40px;
  margin-bottom: 6px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .2s ease all;
          transition: .2s ease all;
}

.nav-toggle .bar-bot {
  margin-bottom: 0;
}

.opened .bar-top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 15% 15%;
          transform-origin: 15% 15%;
}
.opened .bar-mid {
  opacity: 0;
}
.opened .bar-bot {
  -webkit-transform: rotate(45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 15% 95%;
          transform-origin: 15% 95%;
}



img{
height:100%;
position:absolute;
top:4px;
left:580;
}

img:hover{
 cursor:pointer;
}

.div1{
background-color:white;
float:right;
margin-right:90px;
width:20%;

}



.a0{
display:inline-block;
font-size:12px;
font-weight:900;
background-color:red;
border:1px solid black;
border-radius:30px;
color:white;
padding:8px 15px;
margin-top:30px;
margin-right:10px;
text-decoration:none;
transition:0.5s;
}

.a0:hover{
background-color:black;
color:white;
cursor:pointer;
}

.a0.p0{
background-color:white;
color:black;
}

.a0.p0:hover{
background-color:black;
color:white;
  cursor:pointer;
}




.div2 .ul0{
text-align:left;
float:left;
width:90%;
height:700%;
background-color:black;
transform:translateX(-110%)
translateY(-30%);
transition:0.5s;
list-style:none;
position:relative;
z-index:200;
}

.div2 .ul0 .li0.li1{
margin-top:90px;
}

.div2 .li0{
margin-left:35px;
margin-bottom:40px;
list-style:none;
width:90%;
font-size:20px;
font-weight:900;
background-color:black;
transition:0.5s;
color:white;
}

.ul0 a{
text-decoration:none;
transition:0.7s;
}

.ul0 a:hover{
color:white;
}


.ul0 .li0:hover{
color:purple;
cursor:pointer;
}

.checkbox0:checked~.ul0{
transform:translateX(0%);
transform:translateY(0%);
}

.kpo{
position:absolute;
top:53;
left:40;
}

.section0{
background-color:#FF0066;
height:100%;
width:100%;

}


.section1{
height: auto;
height:100%;
background-image:url('../images/TDS-Salsa-Parties-Banner.jpg');
background-size:cover;
position:unset;
text-align:center;
position:relative;
}



.section1 p{
color:#FF3333;
font-weight:900;
font-size:50px;
position:absolute;
width:70%;
top:250;
right:200;
}



.section0 .ul4{
color:white;
font-size:30px;
list-style-type:none;
text-align:center;
padding-top:10px;
}

.ul4 .li1{
display:block;
}



.ul4 .time0{
background-color:#00CCFF;
font-size:40px;
font-weight:600;
width:30%;
height:60px;
padding:5px 20px 0px;
margin-top:25px;
margin-left:430px;
color:black;
box-shadow:inset -4px -4px #000080;
}

.kpo{
position:absolute;
top:80;
right:0;
}


.ul4 .lii4{
font-size:18px;
margin-top:14px;
}

.ul4 .lii5{
font-size:18px;
margin-top:21px;
}

.ul4 .lii6{
margin-top:21px;
}

.ul4 .li1.lii6 a{
color:white;
font-size:18px;
font-weight:600;
}


.ul4 .lii3{
padding-top:10px;

}


.picture1{
height: auto;
width:25%;
position:absolute;
top:350;
left:525;
}





.playlistt{
transform:translateY(-300px);
  opacity:0;
  transition:opacity 1s,transform 0.5s;
}



.playlistt.fadein{
  opacity:1;
  transform:translateY(0);
}





.section2.sec{
width:100%;
height:100%;
background-color:white;
position:relative;


transform:translateX(-100px);
  opacity:0;
  transition:opacity 1s,transform 0.5s;
}


.section2.fadein{
  opacity:1;
  transform:translateX(0);
}


.number,
.find,
#scroll,
#wh{
display:none;
}






.picture5{
width:50%;
position:absolute;
}

.work5{
display:block;
padding-top:70px;
padding-left:70px;
font-size:40px;
font-weight:900;
width:400px;
}

.work5.jo5{
font-size:20px;
font-weight:900;
width:400px;
}



.sec:nth-child(even) .work5{
position:absolute;
right:0;
top:0;
}


.sec:nth-child(even) .jo5{
position:absolute;
top:200;
}

.sec:nth-child(even) .picture5{
position:absolute;
left:0;
width:40%;
height:auto;
}


.sec:nth-child(odd) .work5{
position:absolute;
left:0;
top:0;
}

.sec:nth-child(odd) .jo5{
position:absolute;
left:0;
top:350;
}

.sec:nth-child(odd) .picture5{
width:40%;
height:auto;
}


.div5{
width:100%;
height:100%;
}

.div3{
background-color:white;
width:100%;
height:90%;
border-bottom:2px solid black;
box-sizing:border-box;
box-shadow:3px 3px rgba(0,0,0,0.357)
margin-top:0;
float:left;
padding-top:0px;
padding-left:50px;
padding-right:50px;
display:block;
position:relative;
}

.img2{
height:240px;
width:240px;
border-radius:50%;
object-fit:cover;
z-index:1;
position:absolute;
left:840;
top:30;
}




.div3 h1{
font-size:200%;
padding-top:4%;
}


.ul3{
background-color:blue;
width:80%;
height:100%;
list-style:none;
}

.ul3 .li3{
color:white;
padding-top:20px;
}


.div3 a{
text-decoration:none;
font-size:20px;
font-weight:900;
color:black;

}

.ppp3{
width:100%;
font-size:15px;
padding-top:6%;
}


.icon{
background-color:white;
width:100%;
display:flex;
justify-content:flex-end;
}


.name p{
color:white;
background-color:red;
margin-top:25px;
padding:5 25 5 25px;
margin-right:80px;
border-radius:40px;

}

.icon2{
background-color:white;
}

.fa-twitter-square,
.fa-facebook-square{
color:#0074D9;
}

.fa-whatsapp-square{
color:#30B21A;
}



.name p:hover,
.fa-brands:hover{
opacity:0.5;
}


.icon2 ul{
list-style:none;
padding-right:100px;
display:flex;
padding-top:15px;
}

.icon2 ul li{
padding:0 15 0 15px;
transform:scale(2);

}



.ppp5{
margin-top:137px;
margin-left:310px;
width:400px;
width:800px;
font-size:25px;
}

.div4{
font-size:43px;
padding-top:60px;
font-weight:900;
}


.div5{
position:relative;
z-index:2;
}





.ul2 .li2{
color:white;
background-color:yellow;
}


.footer{
background-color:black;
color:white;
font-weight:900;
text-align:center;
height:50px;
margin-top:0px;
}

.footer .ppp{
padding-top:15px;
}



.rate{
margin-top:50px;
position: relative;
top:60;
left:500;
display:inline-block;
transform:scale(1.4);
}
.rate:before{
content: "★★★★★";
color: #ccc;
}

.rate0-5:after,
.rate1:before,
.rate1:after,
.rate1-5:before,
.rate1-5:after,
.rate2:before,
.rate2:after,
.rate2-5:before,
.rate2-5:after,
.rate3:before,
.rate3:after,
.rate3-5:before,
.rate3-5:after,
.rate4:before,
.rate4:after,
.rate4-5:before,
.rate4-5:after,
.rate5:after{
position: absolute;
top:0;
left:0;
color: #FFA500;
overflow: hidden;
height: 24px;
}

.rate .rate0-5:after,
.rate .rate1-5:after,
.rate .rate2-5:after,
.rate .rate3-5:after,
.rate .rate4-5:after{
	width: 8px;
	content: "★";
}

.rate .rate1:after,
.rate .rate1-5:before{
	content: "★";
}
.rate .rate1-5:after{
	left: 1em;
}
.rate .rate2:after,
.rate .rate2-5:before{
	content: "★★";
}
.rate .rate2-5:after{
	left: 2em;
}
.rate .rate3:after,
.rate .rate3-5:before{
	content: "★★★";
}
.rate .rate3-5:after{
	left: 3em;
}
.rate .rate4:after,
.rate .rate4-5:before{
	content: "★★★★";
}
.rate .rate4-5:after{
	left: 4em;
}
.rate .rate5:after{
	content: "★★★★★";
}

.bachatame{
height:auto;
width:2%;
background-repeat:no-repeat;
background-color:transparent;
position:absolute;
top:320;
left:180;
}










.playlist{
font-size:60px;
margin-top:0px;
font-weight:900;
color:white;
}


.playlistt{
background-color:#FF3333;
text-align:center;
margin-top:0;
}

.modern{
margin-top:0px;
font-size:20px;
font-weight:600;
padding:20px 40px;
background-color:red;
color:white;
border-radius:40px;
transition:0.5s;
}

.modern2{
background-color:white;
padding:150px 200px;
border-radius:40px;
position:relative;
color:white;
}

iframe{
position:absolute;
height:100%;
width:100%;
top:0;
left:0;
}

.music{

background-color:red;
padding:30px 10px;
border-radius:40px;
position:relative;
}






.box{
  width:50%;
  margin:30% 5% 5% 5%;
  text-align:center;
  background-color:#ffff00;
  padding:5%;
  border:1px solid #333;
  transform:translateX(-50px);
  opacity:0;
  transition:opacity 1s,transform 0.5s;
}

.box:first-of-type{
  margin:80% 5% 5% 5%;
}
.fadein{
  opacity:1;
  transform:translateX(0);
}










.modalwin{
position:fixed;
top:50;
width:920px;
height:445px;
background-image:url('../images/bachata-bailando-bachata-bachata-dominicana-marca-pais.jpg');
background-size:cover;
border-radius:10px;
box-shadow:0 4px 8px 0 #000;
z-index:2141111;
}

.show{
display:block;
}

.hide{
display:none;
}







.modalwin h1{
background:#ededed;
padding:20px;
border-radius:5px 5px 0 0;
font-size:1.2em;
}


.but{
margin-top:280px;
border-radius:7px;
}


.modelwin-contents.clear p{
margin:10 0 10 30px;
font-size:28px;
line-height:1.8em;
color:white;
}

.name .show-modal{
color:white;
text-decoration:none;
}

#shade{
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
background-color:#999;
opacity:0.9;
z-index:21411;
}

body{
transform:none !important;
}

.modalwin .modal-close{
display:block;
background-position:0 0;
background-repeat:no-repeat;
width:40px;
height:40px;
position:absolute;
top:0;
right:0;
text-decoration:none;
}

.modalwin .modal-close:hover{
background-position:-40px 0;
color:red;
}

.modalwin .modal-close:active{
background-position:-80px 0;
}


<link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
    <link rel="stylesheet" type="text/css" href="csshake.min.css">